.container {
  max-width: 1150px;
  margin: 0 auto;
}
.section {
  padding: 100px 50px;
}
.portfolios-section1-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 500px;
  gap: 20px;
}
.portfolios-section1-grid a {
  position: relative;
  color: white;
}
.portfolios-section1-grid a:hover {
  cursor: pointer;
}

.portfolios-section1-grid a:hover .layer {
  opacity: 0.3;
  transition: ease all 0.3s;
}
.portfolios-section1-grid a:hover img {
  transform: scale(1.15);
  transition: ease all 0.3s;
}
.portfolio-bg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.layer {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: ease all 0.3s;
}
.portfolio-bg img {
  object-fit: cover;
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: ease all 0.3s;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 60px 20px;
  }
  .portfolios-section1-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 500px;
    gap: 20px;
  }
}
