.contact-block {
  background-color: #0750be;
  color: #fff;
  text-align: center;
  height: 500px;
  display: flex;
  font-display: column;
  align-items: center;
  justify-content: center;
}
.contact-block h2 {
  margin-bottom: 30px;
}
.contact-block-btn {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 330px) {
  .contact-block-btn {
    width: 70%;
    margin: 0 auto;
  }
}
